
body {
    background-image: url(https://img.freepik.com/premium-photo/top-view-dough-ingredients-with-copy-space_23-2148365484.jpg?w=2000);
    background-color: #f4f6f0;

}

h1 {
    text-align: center;
    color: #98b165;
    font-family: cursive;
    font: 700px;
    background-color: cornsilk;
    margin: 50px;
}

.box {
    padding: 100px;
    margin: 50px;
    background-color: cornsilk;
    display: inline-block;

}

.harry {
    text-align: center;
}

.box p {
    text-align: center;
}

.guess {
    text-align: center;
    font-style: italic;
    color: rgb(226, 131, 7)
}
